@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {

    background-color: aqua;
}
/*Navbar custom CSS style*/

.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar * {
color: rgb(15, 4, 57);
  font-size: 1.2rem;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;  

}
.navbar .btn-primary {
  color: #ffffff !important;
  justify-content: center;
}


/*Hero section*/

#hero h1, 
h2 {
    font-family: "DM Serif-Display", serif;
    color: whitesmoke;
    
}


#hero {
    background-image: url("../images/background.png");
      background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  height: 90vh;                
  width: 100%;                 
  position: relative;         
  min-height: 500px;
    
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

#hero div {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 40vh; 
}
#hero div {
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
}